

<h2>Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>

@using (Html.BeginForm("TestButton", "Home", FormMethod.Post)) { 

<input id="Btn" type="submit" value="Test Button">
}

<a href="Home/TestButton">Blink</a> 
<h2>Nešto</h2>